@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.sidebar {
  background-color: gray;
  width: 10vw;
  padding: 50px 40px;
}

/* .nosidebar{
    transform: translateX(-150px);
} */

.sidebar li {
  list-style: none;
  margin-top: 25px;
  font-size: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar a li:hover {
  color: black;
}
.main {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: aqua; */
  padding: 20% 20%;
}

.im img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
}

.details h1 {
  font-size: 50px;
  font-family: "Roboto Mono", monospace;
}

.details h2 {
  font-size: 40px;
  margin-top: 5px;
  font-weight: bold;
  font-family: "New Amsterdam", sans-serif;
}

.details h3 {
  font-size: 40px;
}
.skillhr{
  border-top: 3px dotted black;
  width: 100%;
}

.contact {
  background-color: black;
  height: 50vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
}

.con{
  width: 100vw;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/top-view-blue-monday-concept-composition-with-telephone_23-2149139103.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.no,
.insta,
.email {
  margin-top: 20px;
  font-size: 26px;
}

hr{
 
  width: 90%;
  border: none;
  border-top: 3px dotted white; /* Black color, dotted line */
  margin-top: 5px;
}

.btn{
  padding: 5px 63px;
  border: 1px solid black;
  background-color: gray;
  color: white;
  margin-top: 10px;
  border-radius: 3px;
  font-size: 15px;
  transition: 0.5s;
}

.btn a{
  text-decoration: none;
   color: black"
}
.btn:hover{
  color: black !important;
  background-color: white;
}
.projects {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
}

.proj1,
.proj2,
.proj3 {
  width: 25vw;
  border: 1px solid black;
  height: 75vh;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding: 0 0px;
  /* z-index: 2; */
  background-color: white;
}
.proj1 img,.proj2 img,.proj3 img{
  height: 250px;
  object-fit: cover;
  margin-bottom: 20px;
}
.proj1 h1,.proj2 h1,.proj3{
  text-align: center;
}

.proj1 p,.proj2 p,.proj3 p{
  margin: 0 10px;
}
.proj1:hover,
  .proj2:hover,
  .proj3:hover {
    scale:1.02;
    transition: 0.3s;
  }

.ham{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  z-index: 20;
}


.x{
  position: absolute;
  top: 10px;
  left: 0;
  margin-left: 17vw;
  display: none;
}

.facilities {
  width: 100%;
  background: linear-gradient(white, gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  padding: 30px 100px;
}

.facilities h1{
  font-weight: bold;
}
.facilities p{
  font-weight: 600;
}

.facility{
  margin: 0 20px;
}
.facility img{
  width: 350px;
  border-radius: 10px;
}

.facility h3{
  font-weight: bolder;
  font-family: sans-serif;
  margin-top: 10px;
}
.rowtwo{
  display: flex;
}

.about{
  padding: 30px 200px;
  background-color: aliceblue;
}

.about h1{
  font-weight: bold;
  text-align: center;
}

.about h3{
  margin-top: 15px;
  font-size: 20px;
}

.form{
  padding: 50px 120px;
  background-image: url("https://cdn.prod.website-files.com/6344c9cef89d6f2270a38908/65725709c91402ab52b1c2b9_Best%207%2B%20Coding%20Languages%20for%20a%20SaaS%20Tech%20Stack%202023%20Guide.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

form{
  height: 90%;
  width: 30%;
  background-color: rgb(44, 38, 38);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 10px;
  text-align: center;
}

form h1{
  color: white;
  margin-bottom: 10px;
}

form h4{
  color: white;
  margin-top: 20px;
}

form p{
  color: beige;
}

@media (max-width: 500px) {
  .sidebar {
    box-sizing: border-box;
    padding: 0 30px;
    width: 23vw;
    padding: 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    /* transform: translateX(-150px); */
    display: none;
    z-index: 9;
    transition:5s ease-in-out;
    /* width: 40vw;
    z-index: 3; */
    /* transform: translateX(-150px); */
  }


  .main {
    padding: 10px 10px;
    flex-direction: column;
    justify-content: start;
    overflow-y: auto;
    width: 100vw;
  }

  .details{
    margin-top: 100px;
  }
  .im img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 90px;
  }
  .details h1 {
    font-size: 30px;
  }

  .details h2 {
    font-size: 25px;
  }

  .details h3 {
    font-size: 20px;
  }

  .projects {
    flex-direction: column;
    margin-top: 30px;
    box-sizing: border-box;
  }

  .proj1,
  .proj2,
  .proj3 {
    width: 80%;
    height: 400px;
    margin: 5px 0;
  } 

  .proj1 img,.proj2 img,.proj3 img{
    height: 200px;
    object-fit: cover;
  }

  .proj1 {
    /* margin-top: -200px; */
  }

  .proj1 h1,
  .proj2 h1,
  .proj3 h1 {
    font-size: 15px;
  }

  .contact {
    width: 90%;
    align-items: start;
    padding: 0 10px;
    margin-top: 100px;
  }
  label {
    display: block;
  }

  .skills {
    margin-left: 50px !important;  
    margin-top: -50px;
  }

  .x,.ham{
    display: block;
    cursor: pointer;
    z-index: 99;
  }

  /* .facilities{
    z-index: 10;
    margin-top: -300px;
  } */
   .rowtwo{
    flex-direction: column;
    padding: 0 20px;
   }
   .facility{
    margin: 10px 0;
   }

   .about{
    padding: 20px 20px;
   }

   .about h1{
    text-align: center;
   }

   .form{
    padding: 10px 10px;
   }
   form{
    width: 80%;
    height: 70%;
   }

   .con{
    background-attachment: scroll;
   }
}
